@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-wrapper {
    width: 100%;
    min-height: 100vh;
    background: rgb(103, 153, 211);
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.title {
    font-size: 70px;
    font-weight: 900;
    color: rgb(47, 67, 92);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.384);
    margin-bottom: 30px;
}

/* input properties */

.search {
    position: relative;
    margin-bottom: 70px;
}

.search__input {
    width: 600px;
    height: 60px;
    border: 3px solid rgb(53, 77, 105);
    border-radius: 10px;   
    font-size: 24px;
    padding: 0 136px 0 20px;
}

.search__input:focus {
    outline: none;
    border: 4px solid rgb(47, 67, 92);
}

/* search/next/prev buttons */

.button {
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(53, 77, 105);
    background: rgb(53, 77, 105);
}

.button:hover {
    background: rgb(255, 255, 255);
    color: rgb(53, 77, 105);
}

.search__button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.buttons {
    margin-top: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.buttons__button {
    margin: 0 20px;
}

/* content boxes */

.content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fav-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* film properties */

.content__film {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.content__film:hover .delete-button {
    opacity: 1;
}

.content__film:hover .favourite-button {
    opacity: 1;
}

.content__film__img {
    width: 250px;
    height: 350px;
    box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.content__film__name {
    width: 100%;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.content__film__year {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

/* delete button */

.delete-button {
    opacity: 0;
    position: absolute;
    top: 300px;
    right: 45px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.delete-button:hover {
    transform: scale(1.2);
}

/* fav button */

.favourite-button {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 35px;
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.favourite-button:hover {
    transform: scale(1.2);
}

/* -----Service Classes----- */

.hidden {
    display: none;
}

